@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>On the policy of true.</p>
<p>tara rán tarara uuuuooooooo...</p>
<h1>@ViewData["TimeStamp"]</h1>
